/.plastic
/355 stuff
/355hw3ss1.jpg
/355hw3ss2.jpg
/375a3
/375backup
/415stuff
/42823demovideo385.mp4
/454proj1
/454proj2
/460 stuff
/470db.sql
/470db.zip
/470projectsDesk
/470vids
/api_ex
/Assignment-2
/Assignment-2Scr.jpg
/bootstrap
/cropped.png
/Desktop.code-workspace
/desktop.ini
/diana122122.jpg
/diana2122122.jpg
/Discord.lnk
/DiscScreen
/earthrender.jpg
/earthrender2.jpg
/earthweather.js
/Eclipse IDE for Java Developers - 2022-03.lnk
/Ending2.mp3
/ericmonsternoise.mp3
/Final.docx
/fleming_e_homework3.tar.gz
/fleming_e_P2.tgz
/fork_and_pipe_examples
/full.png
/gradphotos2023
/hs1114.jpg
/index.html
/insscreen.jpg
/itemreg.jpg
/itemui.jpg
/launch_elden_ring_seamlesscoop.exe - Shortcut.lnk
/main.cpp
/My project (1) - MainMenu - Windows, Mac, Linux - Unity 2021.3.19f1 _DX11_ 2023-04-20 23-17-38.mp4
/My project (1) - SampleScene - Windows, Mac, Linux - Unity 2021.3.19f1 _DX11_ 2023-04-06 20-22-52.mp4
/Old HW
/pdfs+scrn
/pss1114.jpg
/Recording (8).aup
/Recording (8).m4a
/Recording (8)_data
/Riot Client.lnk
/sdsuapplicationvideo.mp4
/SSUBlueStuff
/SyntacticalAnalyzer.cpp
/Testing
/threejsproj
/Valheim Server world
/worlds
/zeridoesalottadmg.jpg
/Zoom.lnk